.top-stories {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto
}

article {
  width: 100%;
}

.top-article {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #656464;
}

.top-article h2 {
  margin: 0;
}

.article-image {
  display: flex;
  width: 300px;
}

.article-image img {
  width: 100%;
}

.article-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.date{
  font-size: .75em;
  color: darkgrey;
}

article a:hover {
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #656464;
  padding-bottom: 20px;
  margin-top: -40px;
  margin-bottom: 25px;
}

.search input {
  width: 200px;
}

@media screen and (max-width: 768px) {
    .top-article {
      flex-direction: column;
    }

    .article-content {
      width: 100%;
    }

    .search {
      margin-top: 0;
    }

    h4 {
      width: 100%;
      text-align: center;
    }
}