.selected-article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  border-top: 1px solid black;
}

.selected-article-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.selected-article h1 {
  color: rgb(240, 9, 9);
}

.selected-article-image {
  width: 400px;
}

.selected-article-image img {
  width: 100%;
}

.selected-article h1 {
  margin: 0;
}

.author {
  margin: 0;
  font-size: .75em;
  color: darkgrey;
}

.description a {
  color: blue;
}

.description a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .selected-article {
    flex-direction: column;
    /* width: fit-content; */
  }

  .selected-article-content {
    width: 100%;
  }

  .selected-article-image {
    width: 100%;
  }
}