header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.header-links {
  display: flex;
}

@media  screen and (max-width: 550px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}